*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $lightGrayishBlue;
    font-family: 'Manrope', sans-serif;
}
 .icon{
        cursor: pointer;
    }
    h1{
        color: $veryDarkGrayishBlue;
        font-weight: 700;
    }
    .content p{
        color: $grayishBlue;
        font-weight: 500;
    }